body{
  font-family: 'Raleway', sans-serif;
  margin: 0px auto;
  width: 1000px;
  box-shadow: 10px 10px 20px #263852;
}

header {
  display: flex;
  margin: 0px 35px 0px 0px;
  height: 335px;

}

.background-figure {
  position: absolute;
  height: 300px;
	width: 225px;
  border: none;
	background:#FFC300;
}

.photo {
  position: relative;
  margin: 35px 35px;
  height: 300px;
	width: 225px;
}

.name {
  margin: 28px 0px 20px;

}

h1 {
  margin: 0px;
}

h2 {
  margin: 20px auto 0px;
}

.hr-horizont{
	margin: 10px -35px;
	height: 5px;
	width: 295px;
  border: none;
	background: linear-gradient(90deg, #FFC300, #7BBBC6);
}

.hr-horizont-long{
	margin: 25px 0pt;
	height: 5px;
  border: none;
	background: linear-gradient(270deg, #FFC300, #7BBBC6);
}

main {
  display: block;
  margin: 0px 35px;
}

footer {
  display: flex;
  padding: 0px 35px;
  align-items: center;
  justify-content: space-between;
  background: #7BBBC6;
}